*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Bebas Neue';
}

.container {
  margin: 0 1em;
}

/* Desktop version */

@media only screen and (min-width: 900px) {
  html {
      font-size: 20px;
  }
  
  .top-bg-container {
      width: 80%;
      grid-template-columns: 60% auto;
  }
  
  .container {
      width: 80%;
      margin: 0 auto;
  }
  
  .content {
      display: flex;
      text-align: left;
      padding: 0;
      margin-left: 0;
      margin-right: 0;
  }
  
  h1 {
      font-size: 5rem;
      width: 80%;
  }
  
  .type p {
      width: 80%;
  }
  
  /* Nav */
  
  .menu-btn, .exit-btn {
      display: none;
  }
  
  nav ul {
      transform: translateX(0%);
      width: unset;
      background: none;
      display: flex;
      padding-top: 1em;
      padding-bottom: 0;
      position: unset;
      height: auto;
  }
  
  nav ul li a {
      font-size: 1rem;
      padding: 0 1em;
  }
  
  /* Section 1 */
  
  .quote {
      width: 80%;
      display: grid;
      place-content: center;
  }
  
  blockquote, cite {
      width: 50%;
      justify-self: center;
  }
  
  blockquote {
      font-size: 2rem;
  }
  
  /* Section 2 */ 
  
  .gallery {
      display: flex;
      gap: 4em;
  }
  
  .gallery-container {
      margin-top: -5em;
      z-index: 1;
  }
  
  h2 {
      font-size: 4rem;
      font-weight: normal;
      line-height: 91.6%;
  }
  
  /* contact section */
  
  .cols-2 {
      display: flex;
      gap: 3em;
  }
  
  .form-container, .other-info {
      flex-basis: 0;
      flex-grow: 1;
  }
  
  .other-info {
      margin-top: 2em;
  }
  
  input {
      padding: 1.5em;
  }
}